html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.red {
    background-color: #fee;
}

.red-score {
    background-color: #fdd;
}

.blue {
    background-color: #eef;
}

.strike {
    text-decoration: line-through;
}

.blue-score {
    background-color: #ddf;
}

.current-team {
    font-weight: bold;
}

.winner {
    text-decoration: underline;
}

.add-tool-container>p, .add-tool-btn {
    margin-top: 1%;
}

.tools-list>thead>tr>th, .tools-list>tbody>tr>td {
    padding: 5px;
}

.countdown-blue {
    color: #007bff !important;
}

.countdown-red {
    color: #dc3545 !important;
}

.error-alert-div {
    position: fixed;
    padding: 10px;
    border-radius: 5px;
    bottom: 5px;
    right: 5px;
}

.settings {
    width: 60%;
}

.settings-event {
    width: 58% !important;
}

.settings-team {
    width: 100% !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    text-align: center;
    vertical-align: center;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .schedule-rankings>.tab-content>.tab-pane>table>thead>tr>th, .schedule-rankings>.tab-content>.tab-pane>table>tbody>tr>td {
        padding: 0;
    }

    .tools-list>thead>tr>th, .tools-list>tbody>tr>td {
        padding: 0px;
    }

    .tools-list>tbody>tr>td>button {
        padding: 2px;
    }

    .settings {
        width: 100%;
    }
    
    .settings-event {
        width: 100% !important;
    }
    
    .set-team-number-and-event-btn {
        width: 100%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .tools-list>thead>tr>th, .tools-list>tbody>tr>td {
        padding: 8px;
    }

    .schedule-rankings {
        min-height: 45vh;
    }

    .webcasts {
        min-height: 45vh;
    }

    .settings {
        width: 100%;
    }
    
    .settings-event {
        width: 100% !important;
    }
    
    .set-team-number-and-event-btn {
        width: 100%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .tools-list>thead>tr>th, .tools-list>tbody>tr>td {
        padding: 15px;
    }

    .schedule-rankings {
        min-height: 45vh;
    }

    .webcasts {
        min-height: 45vh;
    }

    .settings {
        width: 100%;
    }
    
    .settings-event {
        width: 65% !important;
    }

    .settings-team {
        width: auto !important;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .tools-list>thead>tr>th, .tools-list>tbody>tr>td {
        padding: 15px;
    }

    .schedule-rankings>.tab-content>.tab-pane>table>thead>tr>th, .schedule-rankings>.tab-content>.tab-pane>table>tbody>tr>td {
        padding: 6px;
    }

    .schedule-rankings {
        position: absolute;
        top: 10;
        left: 0;
        width: 48%;
        height: 90%;
        margin: 1%;
        overflow-y: scroll;
    }

    .webcasts {
        position: absolute;
        top: 10;
        right: 0;
        width: 48%;
        height: 45%;
        margin: 1%;
        overflow-y: scroll;
    }

    .awards {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 23%;
        height: 45%;
        margin: 1%;
        overflow-y: scroll;
    }

    .countdown {
        position: absolute;
        top: 50%;
        right: 0;
        width: 23%;
        height: 45%;
        margin: 1%;
        overflow-y: scroll;
    }

    .settings {
        width: 30%;
    }

    .settings-event {
        width: 55% !important;
    }

    .settings-team {
        width: 23% !important;
    }
}

@media (min-width: 1200px) {
    .tools-list>thead>tr>th, .tools-list>tbody>tr>td {
        padding: 15px;
    }

    .schedule-rankings>.tab-content>.tab-pane>table>thead>tr>th, .schedule-rankings>.tab-content>.tab-pane>table>tbody>tr>td {
        padding: 15px;
    }

    .schedule-rankings {
        position: absolute;
        top: 10;
        left: 0;
        width: 48%;
        height: 90%;
        margin: 1%;
        overflow-y: scroll;
    }

    .webcasts {
        position: absolute;
        top: 10;
        right: 0;
        width: 48%;
        height: 45%;
        margin: 1%;
        overflow-y: scroll;
    }

    .awards {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 23%;
        height: 45%;
        margin: 1%;
        overflow-y: scroll;
    }

    .countdown {
        position: absolute;
        top: 50%;
        right: 0;
        width: 23%;
        height: 45%;
        margin: 1%;
        overflow-y: scroll;
    }

    .settings-team {
        width: 15% !important;
    }
}